# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS system files
.DS_Store
**/.DS_Store

# Environment variables (Sensitive info!)
.env

# IDE-specific files
.vscode/
.idea/